.manage-categories-page {
    font-family: karla;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F7F7F7;
}
    /*HEADER*/
    .manage-categories-page .header-container {
        width: 85%;
        margin: auto;
    }

    .manage-categories-page h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        letter-spacing: 0.1rem;
    }

    .manage-categories-page .create-new-button {
        padding: 0.9rem;
        background-color: black;
        color: white;
        font-weight: 300;
        margin-bottom: 1rem;
        border: none;
        border-radius: 0;
    }

    /*MANAGE CATEGORIES CONTAINER*/
    .manage-categories-page .manage-categories-container {
        width: 85%;
        background-color: white;
        margin: auto;
        min-height: 65vh;
    }

    /*MODAL*/
    .manage-categories-page h3 {
        font-family: karla;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
    }

    .manage-categories-page .text-field-title {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 700;
    }

    .manage-categories-page .text-field {
        width: 100%;
        height: 2.75rem;
        text-indent: 0.7rem;
        border-radius: 0.3rem;
        border: 1px solid gray;
        margin-bottom: 1rem;
    }

    .manage-categories-page .create-category-button {
        padding: 0.7rem;
        width: 100%;
        background-color: black;
        color: white;
        font-weight: 300;
        border: none;
        border-radius: 0.4rem;
        margin-top: 1rem;
    }

    .manage-categories-page .title-row {
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;
    }

    .manage-categories-page .validation-message {
        color: red;
    }

    /*TABLE*/
    .manage-categories-page .action-column {
        text-align: right;
    }

    .manage-categories-page .fa-solid {
        margin-right: 1rem;
    }

    .manage-categories-page .edit-category-button {
        color: black;
    }

    .manage-categories-page .delete-category-button {
        color: red;
    }

    .manage-categories-page th {
        background-color: #f6f6f6;
    }

    /*DELETE CONFIRMATION MODAL*/
    .manage-categories-page .delete-message {
        text-align: center;
    }

    .manage-categories-page .delete-modal-action-row {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .manage-categories-page h4 {
        text-align: center;
        font-weight: 600;
    }

    /*SEARCH CONTAINER*/
    .manage-categories-page .search-container {
        margin: auto;
        width: 85%;
        margin-bottom: 1rem;
    }

    .manage-categories-page .search-button {
        background-color: black;
        color: white;
        border: 0.1rem solid black;
    }

    .manage-categories-page .search-text-field {
        border: solid 0.1rem white;
        text-indent: 0.3rem;
    }

@media (max-width: 840px) {
    .manage-categories-page .header-container {
        width: 95%;
    }

    .manage-categories-page h2 {
        font-size: 1.2rem;
    }

    .manage-categories-page .create-new-button {
        padding: 0.6rem;
        background-color: black;
        color: white;
        font-weight: 300;
        margin-bottom: 1rem;
        border: none;
        font-size: 0.9rem;
    }

    .manage-categories-page .manage-categories-container {
        width: 95%;
    }

    .manage-categories-page .search-container {
        width: 95%;
    }
}
