.manage-reviews-page {
    font-family: karla;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #F7F7F7;
}
    /*HEADER*/
    .manage-reviews-page .header-container {
        width: 85%;
        margin: auto;
    }

    .manage-reviews-page h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        letter-spacing: 0.1rem;
    }

    /*MANAGE REVIEWS CONTAINER*/
    .manage-reviews-page .manage-reviews-container {
        width: 85%;
        background-color: white;
        margin: auto;
        min-height: 65vh;
    }

    /*TABLE*/
    .manage-reviews-page .action-column {
        text-align: right;
    }

    .manage-reviews-page .fa-solid {
        margin-right: 1rem;
    }

    .manage-reviews-page .delete-review-button {
        color: red;
    }

    .manage-reviews-page th {
        background-color: #f6f6f6;
    }

    /*DELETE CONFIRMATION MODAL*/
    .manage-reviews-page .delete-message {
        text-align: center;
    }

    .manage-reviews-page .delete-modal-action-row {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .manage-reviews-page h4 {
        text-align: center;
        font-weight: 600;
    }

    /*SEARCH CONTAINER*/
    .manage-reviews-page .search-container {
        margin: auto;
        width: 85%;
        margin-bottom: 1rem;
    }

    .manage-reviews-page .search-button {
        background-color: black;
        color: white;
        border: 0.1rem solid black;
    }

    .manage-reviews-page .search-text-field {
        border: solid 0.1rem white;
        text-indent: 0.3rem;
    }

@media (max-width: 840px) {
    .manage-reviews-page .header-container {
        width: 95%;
    }

    .manage-reviews-page h2 {
        font-size: 1.2rem;
    }

    .manage-reviews-page .manage-reviews-container {
        width: 95%;
    }

    .manage-reviews-page .search-container {
        width: 95%;
    }
}
